body {
  background-color: #232832;
}

.divTable {
  margin-left: 100xp;
  margin-top: -200px;
}

.divFormulario {
  margin-top: -250px;
}

.select {
  position: absolute;
  left: 35%;
  top: 12%;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  border: none;
}
